{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-50">
            <div class="col-12 my-5">
                <h1 class="display-3 logo-font">
                    Come get some....
                </h1>
            </div>
        </div>
        <div class="row h-50">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}