{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-6"></div>
        <div class="col-6 my-auto">
            <h1 class="page-headers display-3">
                Thank You
            </h1>
        </div>
    </div>
</div>
<div class="container mb-2">
    <div class="row mt-3">
        <p>Your order information is below. A confirmation email has been sent to {{ order.email }}</p>
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'products' %}" class="btn rounded-1 btn-lg">
                <span class="icon">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </span>
                <span class="text-uppercase">Return to the shop</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}