.profile-form-input {
    color: #4e5166;
    border: 1px solid #4e5166;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    width: 100%;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}