/* Imported fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand:wght@300;400;500;600;700&display=swap');

.font-color-1 {
    color: #4e5166;
}

html {
    height: 100%;
}

body,
header,
footer,
#delivery-banner {
    color: #747274;
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #b9b7a7;
}

footer {
    margin-top: 50px;
}

#main-navigation,
#main-footer {
    background-color: #4e5166;
    padding-left: 0;
    padding-right: 0;
}

#delivery-banner {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.pta-logo {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #7c90a0;
}

.dropdown-background {
    background-color: #b9b7a7;
}

.footer-text {
    color: #b5aa9d;
    font-family: 'Cabin', sans-serif;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.dropdown-toggle::after { 
    content: none; 
}

.toggler {
    color: #b5aa9d;
}

.text-dropdown-color {
    color: #4e5166;
}

.nav-text-color {
    color: #b5aa9d;
}

.nav-text-color:focus,
.nav-text-color:hover,
.nav-text-color:active {
    color: white;
}

.navbar-nav .nav-link.show {
    color: white;
}

.page-headers {
    font-family: 'Cabin', sans-serif;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.781);
    color: #4e5166;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #b9b7a7;
	z-index: -1;
}

/* index.html */

#home-pizza-oven {
    height: 400px;
    position: relative;
    background-image: url('/media/pizzatheaction_background_image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

.container-a-background {
    background-color: #4e5166;
}

.container-b-background {
    background-color: #7c90a0;
}

.home-links {
    text-decoration: none;
    color: #4e5166;
}

.home-links:focus,
.home-links:hover,
.home-links:active {
    color: #b5aa9d;
}

/* products.html */

.product-card {
    border-color: #4e5166;
    border-width: 2px;
    border-style: solid;
}

.card-product-name {
    font-weight: bold;
}

.category-brand-link {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: white;
}

.category-brand-link:focus,
.category-brand-link:hover,
.category-brand-link:active {
    color: #b5aa9d;
}

.view-product-link {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: #7c90a0;
}

.view-product-link:focus,
.view-product-link:hover,
.view-product-link:active {
    color: white;
}

.search-product-link {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: #747274;
}

.search-product-link:focus,
.search-product-link:hover,
.search-product-link:active {
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    right: calc((100% - 1200px) / 2 + 10px);
    z-index: 99999999;
}

.btt-link,
.update-link,
.remove-item {
    text-decoration: none;
    cursor: pointer;
}

/* All Brands & All Categories */

/* Custom styles to override Bootstrap accordion button styles */
div.accordion {
    border-color: transparent;
    box-shadow: none;
}

div.accordion a.accordion-button {
    background-color: #4e5166;
    color: #b5aa9d;
    border-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

/*div.accordion a.accordion-button:hover {
    background-color: transparent;
}*/

/* Basket */

.item-in-bag {
    color: #7c90a0;
}

.item-in-bag:focus,
.item-in-bag:hover,
.item-in-bag:active {
    color: white;
}

/* Toast messages */

.message-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.form-control {
    color: #4e5166;
    border: 1px solid #4e5166;
}

/* Allauth formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #747274;
}

.allauth-form-inner-content input {
    border-color: #4e5166;
}

/* Media queries */

/* XS Screens Only */
@media (max-width: 575px) {
    #home-pizza-oven {
        height: 200px;
    }
}

/* Medium Screens and Smaller */
@media (max-width: 991px) {
    .header-container {
        padding-top: 50px;
    }

    body {
        height: calc(100vh - 116px);
    }

    #home-pizza-oven {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .product-row {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .pta-logo {
        padding-right: 60px;
    }

    .product-row {
        padding-top: 100px;
    }
}

@media (max-width: 1200px) {
    .btt-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}