{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-sm-12 col-md-8 offset-md-2 my-auto text-center">
            <h1 class="page-headers display-3">
                PIZZATHEACTION Community
            </h1>
        </div>
    </div>
</div>
<div class="container mb-2 p-2">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mt-3">
            {% if request.user.is_authenticated or request.user.is_superuser %}
                <div class="card border-0 my-4">
                    <div class="card-header allauth-card-headers">
                        <h2>Add Comment to </h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group md-3">
                            <form method="POST" id="addComment">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form|crispy }}
                            </form>
                        </div>
                    </div>
                    <div class="card-footer allauth-card-headers">
                        <button class="btn btn-success m-2" id="addComment">Add</button>
                        <a class="btn btn-danger m-2" href="{% url 'blog:blog_home' %}">Cancel</a>
                    </div>
                </div>
            {% else %}
                <div class="card border-0 my-4">
                    <div class="card-body text-center">
                        <h2>You do not have permission to access this page. Please follow the button below to return to the home page.</h2>
                    </div>
                    <div class="card-footer text-center allauth-card-headers">
                        <a class="btn btn-success" href="{% url 'home' %}">Home</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}