{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-sm-12 col-md-8 offset-md-2 my-auto text-center">
            <h1 class="page-headers display-3">
                PIZZATHEACTION Community
            </h1>
        </div>
    </div>
</div>
<div class="container mb-2 p-2">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-12 col-md-8 offset-md-2 mt-3">
            <a class="fs-4 btn btn-success float-end" href="{% url 'blog:add_post' %}">Add Post</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mt-3">
            {% if all_objects %}
                {% for object in all_objects %}
                    <div class="card m-3">
                        <div class="card-header container-b-background">
                            <a class="post-title text-decoration-none" href="{% url 'blog:content_view' object.pk %}">
                                <h2 class="fs-3">{{ object.title }}</h2>
                            </a>
                        </div>
                        <div class="card-body">
                            <small class="my-2">| Created by: {{ object.created_by.first_name }} {{ object.created_by.last_name }} ({{ object.created_by }}) | Category: {{ object.category }} |</small>
                            <br>
                            <small class="my-2">| Created on: {{ object.created_on }} |{% if object.updated_on == None %}{% else %} Original post updated on: {{ object.updated_on }} |{% endif %}</small>
                        </div>
                        <div class="card-footer container-a-background">
                            <small class="float-start text-white">
                                | Comments: {{ object.post_comments.all.count }} | Likes: {{ object.likes.count }} |
                            </small>
                            {% if request.user.is_authenticated %}
                                {% if object.created_by == request.user or request.user.is_superuser %}
                                    <div class="float-end">
                                        <a class="btn btn-sm btn-info" href="{% url 'blog:content_view' object.pk %}">Edit</a>
                                        <a class="btn btn-sm btn-danger" href="{% url 'blog:delete_post' object.pk %}">Delete</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No posts yet! Start a post using the Add Post button above!</h3>
            {% endif %}
        {% else %}
            <div class="col-12 col-md-8 offset-md-2 mt-3 text-center">
                <h3>You must be registered and logged in to view the blog</h3>
            </div>
        {% endif %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-1 container-b-background">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <i class="fa-solid fa-turn-up mx-auto my-auto font-color-1"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}