{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-6"></div>
        <div class="col-6 my-auto">
            <h1 class="page-headers display-3">
                Blog
            </h1>
        </div>
    </div>
</div>
<div class="container mb-2 p-2">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mt-3">
            <div class="md-3">
                <h2>{{ object.title }}</h2>
                <br>
                <small>
                    {{ object.created_by.first_name }} {{ object.created_by.last_name }}
                </small>
                <br>
                <p>
                    {{ object.content }}
                </p>
                <a class="btn btn-success" href="{% url 'blog:blog_home' %}">Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}