{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-sm-12 col-md-8 offset-md-2 my-auto text-center">
            <h1 class="page-headers display-3">
                PIZZATHEACTION Community
            </h1>
        </div>
    </div>
</div>
<div class="container mb-2 p-2">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mt-3">
            <div class="md-3">
                <div class="card">
                    <div class="card-header">
                        <h2 class="p-2">{{ object.title }}</h2>
                        <small class="p-2">
                            Created by {{ object.created_by.first_name }} {{ object.created_by.last_name }} ({{ object.created_by }}) on {{ object.created_on }}
                        </small>
                        {% if object.updated_on == None %}
                        {% else %}
                        <br>
                        <small class="p-2">
                            Original post updated on: {{ object.updated_on }}
                        </small>
                        {% endif %}
                        <br>
                        <small class="p-2">
                            Category: {{ object.category }}
                        </small>
                    </div>
                    <div class="card-body">
                        {{ object.content|safe }}
                    </div>
                    <div class="card-footer">
                        <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="col my-auto">
                                <form action="{% url 'blog:like_post' object.pk %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="post_like" value="{{ object.id }}"
                                        class="btn btn-danger btn-sm rounded-circle m-3" title="Unlike this post">
                                        <i class="fa-regular fa-thumbs-down"></i>
                                    </button>
                                    <br>
                                    {% else %}
                                    <button type="submit" name="post_like" value="{{ object.id }}"
                                        class="btn btn-success btn-sm rounded-circle m-3" title="Like this post">
                                        <i class="fa-regular fa-thumbs-up text-white"></i>
                                    </button>
                                    <br>
                                    {% endif %}
                                    <small>
                                        Total Likes: {{ object.total_likes }}
                                    </small>
                                </form>
                            </div>
                            <div class="col my-auto">
                                {% if request.user.is_authenticated %}
                                {% if post.created_by == request.user or request.user.is_superuser %}
                                <div class="float-end">
                                    <a class="btn btn-info" href="{% url 'blog:update_post' object.pk %}">Edit</a>
                                    <a class="btn btn-danger" href="{% url 'blog:delete_post' object.pk %}">Delete</a>
                                </div>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-container my-5">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="my-3">Comments:</h2>
                        </div>
                        <div class="col-12">
                        {% if not object.post_comments.all %}
                            <p>
                                No Comments Yet. <a href="{% url 'blog:add_comment' object.pk %}">Add One.</a>
                            </p>
                        {% else %}
                            {% for comment in object.post_comments.all %}
                                <div class="card my-2 comment-card {% if comment.name|lower == object.created_by.username|lower %}float-end{% else %}float-start{% endif %}">
                                    <div class="card-body">
                                        {{ comment.comments|safe }}
                                    </div>
                                    <div class="card-footer">
                                        <small class="float-start">
                                            By {{ comment.name }} on {{ comment.comment_on }}
                                        </small>
                                    </div>
                                </div>
                            {% endfor %}
                            <a class="btn btn-success my-2" href="{% url 'blog:add_comment' object.pk %}">Add Comment</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                    <h3>You must be logged in to like a blog post</h3>
                {% endif %}
                <div class="m-2">
                    <div class="float-start">
                        <a class="btn btn-sm btn-success" href="{% url 'blog:blog_home' %}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-1 container-b-background">
    <a class="btt-link d-flex h-100" title="Back to Top">
        <i class="fa-solid fa-turn-up mx-auto my-auto font-color-1"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}