{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-pizza-oven">
    <div class="row h-100">
        <div class="col-6"></div>
        <div class="col-6 my-auto">
            <h1 class="page-headers display-3">
                Brands
            </h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="product-container col-12 col-md-8 offset-2">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for brand in brands %}
                    <div class="accordion m-2" id="accordionBrand{{ brand.id }}">
                        <div class="accordion-item border-0 rounded-1">
                          <h2 class="accordion-header">
                            <a class="accordion-button fs-2" data-bs-toggle="collapse" data-bs-target="#collapse{{ brand.id }}" aria-expanded="true" aria-controls="collapse{{ brand.id }}">
                                {{ brand.friendly_name }}
                            </a>
                          </h2>
                          <div id="collapse{{ brand.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionBrand{{ brand.id }}">
                            <div class="accordion-body">
                              <small>
                                {{ brand.description }}
                              </small>
                            </div>
                            <div class="accordion-body">
                                <a class="btn btn-sm btn-success text-end" href="{% url 'products' %}?brand={{ brand.name }}">Shop {{ brand.friendly_name }}</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function () {
    $('.accordion').on('show.bs.collapse', function () {
        $('.accordion .collapse.show').not($(this).find('.collapse')).collapse('hide');
        });
    });
</script>
{% endblock %}
